html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

section {
  padding: 6rem 1rem;
  margin-top: -1px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 992px;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0.3rem 0;
  color: #555;
  line-height: 125%;
}

@media (min-width: 576px) {
  section {
    padding: 6rem 2rem;
  }
}

@media (min-width: 768px) {
  section {
    padding: 6rem 7rem;
  }
}

@media (min-width: 992px) {
  section {
    padding: 6rem 2rem;
  }
}

@media (min-width: 1200px) {
}
