#carousel {
  position: relative;
}
#carousel-slides {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 30rem;
  position: relative;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#arrow-section {
  position: absolute;
  width: 100vw;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 35%;
  z-index: 9999;
}

#left-arrow,
#right-arrow {
  width: 1.5rem;
  cursor: pointer;
}

.arrow-svg {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.4;
}

#left-arrow:hover .arrow-svg,
#right-arrow:hover .arrow-svg {
  fill: #77b8ed;
  opacity: 1;
}

#left-arrow {
  float: left;
}

#right-arrow {
  float: right;
}

.slide {
  display: block;
  position: relative;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

.slide section {
  height: 100%;
}
.slide-bg {
  z-index: -9999;
  display: block;
  position: absolute;
  width: 115vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-filter: blur(1rem) brightness(40%);
  filter: blur(1rem) brightness(40%);
}

.slide-container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.slide-container {
  font-size: 80%;
  padding: 3rem 3rem;
  text-align: center;
}

.slide-container .thumbnail img {
  max-height: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1rem;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left center,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}

.slide-container .thumbnail {
  height: 10rem;
}

.slide-container .text {
  margin-top: 1.5rem;
}

.slide-container h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #fff;
}

.slide-container p {
  color: rgba(255, 255, 255, 0.6);
}

.slide-container .buttons {
  margin-top: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .slide-container {
    font-size: 100%;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3rem 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 3rem 1fr;
    grid-template-columns: auto 1fr;
    grid-gap: 3rem;
  }
  .slide-container .text {
    margin-top: 3rem;
  }
  .slide-container .thumbnail {
    height: 24rem;
  }
  .slide-container .buttons {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}
