.bg-white {
  background-color: #fff;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.bg-gray {
  background-color: #3b3a3b;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.bg-gradient {
  margin-top: -1px;
  background: -webkit-linear-gradient(top, #3b3a3b 0%, #ffffff 100%);
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.video-container .video {
  margin-top: 3rem;
  text-align: center;
}

.video-container .video img {
  max-width: 100%;
}

@media (min-width: 992px) {
  .video-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .video-container .text {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .video-container.reverse .text {
    grid-column: 2;
    grid-row: 1;
  }
  .video-container.reverse .video {
    grid-column: 1;
    grid-row: 1;
  }
  .video-container .video {
    margin-top: 0;
  }
}
